.App {
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
  align-items: stretch;
}

aside {
  max-width: 30%;
  padding-right: 3rem;
  background-color: #ebebeb;
}

article {
  padding: 2rem;
}



h1,h2 {
  margin-top: 0;
}