.App {
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
  align-items: stretch;
}

aside {
  width: 16rem;
  padding-right: 3rem;
  background-color: #ebebeb;
  flex: 0 0 auto;
}

aside h3 {
  padding-left: 2rem;
}

article {
  padding: 2rem;
  width: auto;
  width: 100%;
}

header {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
  background: #fafafa;
  width: 100%;
}



h1,h2 {
  margin-top: 0;
}